#mapView{
    height: 100%;
    width: 100%;
}

.map-view-wrapper {
    display: flex;
    flex-direction: row;
}

.map-wrapper {
    width: 100%;
}

.address-list-wrapper {
    min-width: fit-content;
    overflow-y: scroll;
}

.address-item {
    padding: 8px 10px;
    cursor: pointer;
}

.address-item:hover, .current-place {
    background-color: #a4d4f6;
    color: white;
}