#listPage {
    width: 100%;
    height: 100%;
  }

.list-wrapper {
  padding: 50px 100px;
}

.map-view-card > .el-card__body {
  padding: 0;
}

.list-header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.list-header-button-wrapper > button {
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #1974e8;
  color: white;
  border: none;
}